.feature-align-right {
  float: right;
  margin-right: -16rem;
  margin-left: 4rem;
  margin-bottom: 4rem;  
  margin-top: 2rem;
}

.feature-align-left {
  float: left;
  margin-left: -16rem;
  margin-right: 4rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}