.bg-extralightgray {
  background: $color-extralightgray;
  --row-bg: $color-extralightgray;

  //  Carousel styling
  --carousel-btn-focus: #fff;
}

.component--main-content {
  background: var(--row-bg, transparent);
}
.content p,
.content h2 {
  color: var(--text-color, #4a4a4a);
}


// makes sure the alert text has the right color
article.node--type-alert .content p {
  --text-color: #fff;
}


.row-theme-black {
  --row-bg: #111;
  --text-color: #fff;
}
.row-theme-charcoal {
  --row-bg: #222;
  --text-color: #ccc;
}
.row-theme-lightgray {
  --row-bg: #ebf0f0;
}

.theme-lightgray {
  --bg-color: #ebf0f0;
}
.bg-light-gray {
  background: #eee;
}
.bg-watermark-gray {
  /* called "Cream" on Alums; a reworking of that weird peach color that's part of our branding but nobody likes */
  background-color: rgb(248, 247, 245);
}
