//	There are better ways to do this - like using maps for things - but 
//	for now, I'm keeping it simple.

//	Breakpoints
$bp-medium: 40rem;

$breakpoints: (
	"small": 30em,
	"medium": 50em,
	"large": 70em
);	

$font-serif-main-content: "freight-text-pro", Georgia, serif;
$sans-serif: "Source Sans Variable","acumin-pro","Helvetica Neue","Helvetica","Arial",sans-serif,"Helvetica Neue","Helvetica","Arial",sans-serif;
$condensed: "acumin-pro-extra-condensed","Helvetica Neue","Helvetica","Arial",sans-serif;


$color-beige: var(--color-beige, #f7f2f2);
$color-extralightgray: var(--extralightgray, #dee2e6);