.dynamic-toc-box {
    opacity: 0;
    transition: 0.4s all ease;
}

.toc-is-visible .dynamic-toc-box {
    opacity: 1;
}


.dynamic-toc-box {
    position: fixed;
    left: 0;
    bottom: 0;
//    height: 100%;
    display: flex;
    align-items: end;
    z-index: 10;
    width: calc((100vw - 49rem) / 2);

    .table-of-contents {
        padding: 2rem;
        font-family: $sans-serif;
        text-align: left;
        font-size: 1rem;
    }
    .active a {
        @include weight-sans-bold();
    }
}



.dynamic-toc-box li:not(.active) a {
    color: #777;
    text-decoration: none;
}
