aside.aside--video {

	background-color: $color-lightgray;
	margin: 3rem auto;
	max-width: 60rem;
	
	@include padding(2.25rem);
	
	p {
		font-family: var(--sans-serif);
		font-size: 1.3rem;
		max-width: 40rem;
		margin: 0 auto 2rem auto;
		line-height: 1.3;
		text-align: center;
	}	
}