.bio-list-item.compact {
	list-style: none;
	margin: 0 !important;

	.title {
		display: block;
		border-bottom: 1px solid #eee;
		margin-bottom: 0.2rem;
		padding-bottom: 0.2rem;
	}
	.subtitle {
		font-size: 1rem !important;
		display: block;
	}
}



