.blockquote {
    
    --basic-padding: clamp(1rem, 6vw, 2rem);

    //  I'm giving them a color so they'll appear on top of
    //  the fixed-position table of contents, if one exists
    background: var(--blockquote-bgColor, #fff);
    
    &.place-left {
        --item-padding: var(--basic-padding) 3rem var(--basic-padding) 1rem;
    }
    &.place-right {
        --item-padding: var(--basic-padding) 1rem var(--basic-padding) 3rem;
    }

    @include breakpoint('large') {
        width: 60%;
    }

    &.align-left {
      float: left;
      margin-left: -10rem;
      margin: 4rem 4rem 4rem -10rem;
      text-align: right;
    }
    p {
        font-family: $condensed;
        font-weight: 100;
        line-height: 1.1;
        color: #db1056;
    }
    &:not(.font-small) {
        p {
            @include font-size(3.6rem);
        }
    }
    &.font-small {
        p {
            @include font-size(3rem);
        }
    }
    cite {
        font-family: $sans-serif;
        font-style: normal;
        font-size: 1.4rem;
        line-height: 1rem;
        font-variation-settings: "wght" 700;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        color: #000;
    }
}