.note-box {
	background: var(--box-bg, #eee);
	padding: min(2.4%, 1.4rem);
	max-width: 34rem;

	p {
		font-size: 1rem;
		font-variation-settings: "wght" 400;
	}
	.Media-figure {
		width: 2rem;

		svg path {
			fill: var(--box-icon-color, #888);
		}

	}

	&--warning {
		--box-bg: #ffedcc;
		--box-icon-color: #ff5300;
	}
}





