h2 {

padding-bottom: 1rem;
	
--underline-color: #f00;
	
background-image: linear-gradient(to right, var(--underline-color) 0%, var(--underline-color) 100%);
	text-decoration: none;
	position: relative;
	background-repeat: no-repeat;
	background-position: 0px bottom;
	transition: background 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
	transition-property: background, color;
	background-image: linear-gradient(to right, var(--underline-color) 0%, var(--underline-color) 100%);
	background-size: 20% 4%;

}