.card-chrono {
  width: 26rem;
  border-right: 3px solid rgba(0,0,0,0.04);

  .chrono-date {
    display: inline-block;
    font-family: var(--serif);
    font-size: 1.6rem;
    border-bottom: 3px double rgba(0,0,0,0.2);
    padding-bottom: 0.6rem;
    margin-bottom: 1.4rem;
  }
}



