.card-info {
  background: $color-beige;
  padding: 1.6rem;
  
  p {
    font-size: 1.2rem;
    line-height: 1.2;
    font-family: $sans-serif;
  }

  header {
    display: block !important;
  }
}



