
//	migrate components away from this
//	and have them use the Media composition

.card--media {
  display: flex;
  gap: 1.4rem;
}

.media-container.media-large {
  width: 10rem;
}

.card-text {
  flex: 1;
}
