/*	This was used on https://www.vassar.edu/engaged-pluralism/test-engaged-pluralism-story-example-1
	It's the first item on the page, but is no longer working. 

	This is *not* the visual pullquote.
	
*/

.scroll-photo-combo__photo {
  transition: 1s all ease;
}
.scroll-photo-combo.top-25pfrom-topOfWindow {
  /* position: sticky; */
  /* top: 20%; */
}
.scroll-photo-combo.top-25pfrom-topOfWindow-tog .scroll-photo-combo__photo {
  position: sticky;
  top: 20%;
  filter: blur(0px) grayscale(1);
  opacity: 0.06;
  transform: scale(0.8);
}
.scroll-photo-combo.top-25pfrom-topOfWindow-tog .scroll-photo-combo__text {
  position: relative;
  z-index: 10;
  min-height: 80vh;
  display: flex;
  align-items: center;
}
