/*  The row at the beginning of the story */

.table-of-contents {
  font-family: $font-serif-main-content;
  font-size: 1.6rem;
  text-align: center;
//  font-style: italic;
  max-width: 40rem;
  margin-left: auto !important;
  margin-right: auto;

  padding: 0;
  
  li {
    list-style: none;
    margin: 0 !important;
  }
  a {
      display: block;
      font-size: 1.4rem;
      padding: 0.4rem;
      text-decoration-thickness: 1px;
      text-underline-offset: 4px;
      text-decoration-color: #caa;
  }
}


/*  The fixed-position, dynamically updated TOC */

.dynamic-toc-box {
    opacity: 0;
    transition: 0.4s all ease;

    position: fixed;
    left: 0;
    bottom: 0;
    display: none;
    align-items: end;
    z-index: 10;
    width: 14rem;

    @include breakpoint("large") {
      display: flex;
    }
    
    li {
      &:not(.active) a {
          color: var(--dynamic-toc-box-linkColor, #666);
          text-decoration: none;
      }
      a {
        display: block;
        padding: 0.3rem;

        &:hover,
        &:focus {
          --dynamic-toc-box-linkColor: #fff;
        }
      }
    }

    .dtb_table-of-contents {
        padding: 1.4rem;
        font-family: $sans-serif;
        text-align: left;
        font-size: 1rem;
    }
    .active a {
        @include weight-sans-bold();
    }
}

.toc-is-visible .dynamic-toc-box {
    opacity: 1;
}


ul.dtb_table-of-contents li {
    list-style: none;
    margin: 0 !important;
    border-bottom: 1px solid #eee;
}

.dynamic-toc-box {
    background: rgba(255,255,255,0.8);
}



